<footer>
        <div id="footer-items">
            <a href="https://www.collegelacite.ca/">
            <img id="logg" src="./img/logocite.jpg" alt="Logo" title="Logo">
            </a>
            
            <p>Tyler Szola, Jérémy Lavallée-Giroux et Alexandre Bailey-Proulx</p>
        </div>
    </footer>